/* 定义实际存在的字体文件 */
@font-face {
  font-family: 'HarmonyOS_Sans_Regular';
  font-style: normal;
  src: url('../assets/fonts/HarmonyOS_Sans_Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS_Sans_Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/HarmonyOS_Sans_Bold.ttf');
  font-display: swap;
}

:root {
  --font:
    'HarmonyOS_Sans_Regular', 'PingFangSC-Regular', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-US:
    'Press Start 2P', 'PingFangSC-Regular', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-bold:
    'HarmonyOS_Sans_Bold', 'PingFangSC-Semibold', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --theme-color: #39c5bb;
  --color-font: #392f41;
  --color-title: #161823;
  --color-primary: #39c5bb;
  --color-danger: #c91f37;
  --color-success: #0eb840;
  --color-warning: #fa8c35;
  --color-info: #7397ab;
  --bg-color: #d1d9e0;
  --side-bar-bg-color: #395260;
}
