@import url('./styles/variable.css');

html,
body {
  height: 100%;
  font-family: var(--font);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-font);
  background-color: var(--bg-color);
}

html[lang='zh-HK'] body,
html[lang='zh-TW'] body {
  font-family: var(--font-HK);
}

html[lang='zh-CN'] body {
  font-family: var(--font);
}

html[lang='en'] body,
html[lang='en-US'] body,
html[lang='en-AU'] body {
  font-family: var(--font-US);
}

body {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d6d9e4;
    border: none;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #d6d9e4;
  }
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--theme-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
