@import url('./styles/variable.css');

html,
body {
  height: 100%;
  font-family: var(--font);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-font);
  background-color: var(--bg-color);
}

::selection {
  background-color: var(--theme-color);
  color: #fff;
}

html[lang='zh-HK'] body,
html[lang='zh-TW'] body {
  font-family: var(--font-HK);
}

html[lang='zh-CN'] body {
  font-family: var(--font);
}

html[lang='en'] body,
html[lang='en-US'] body,
html[lang='en-AU'] body {
  font-family: var(--font-US);
}

body {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: none;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
  opacity: 0.8;
}
